# templates/nginx/subdomain_laravel.conf.tmpl
server {
    listen 80;
    server_name {{ .Domain }};

    root {{ .RootDir }}/{{ .Domain }};
    index index.php index.html index.htm;

    client_max_body_size 100M;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php{{ .PHP }}-fpm.sock;
    }

    location ~ /\.ht {
        deny all;
    }

    location ~ /\.git {
        deny all;
    }

    access_log {{ .HomeDir }}/logs/{{ .Domain }}_access.log;
    error_log {{ .HomeDir }}/logs/{{ .Domain }}_error.log;
}