# templates/nginx/subdomain_laravel.conf.tmpl
server {
    listen 80;
    server_name {{ .Domain }};

    root {{ .RootDir }}/{{ .Domain }};
    index index.php index.html index.htm;

    client_max_body_size 100M;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php{{ .PHP }}-fpm.sock;
    }

    location ~ /\.ht {
        deny all;
    }

    location ~ /\.git {
        deny all;
    }

    # Headers de seguridad básicos
    add_header X-Frame-Options "SAMEORIGIN" always;
    add_header X-Content-Type-Options "nosniff" always;
    add_header Referrer-Policy "no-referrer-when-downgrade" always;

    access_log {{ .HomeDir }}/logs/{{ .Domain }}_access.log;
    error_log {{ .HomeDir }}/logs/{{ .Domain }}_error.log;
}